.main {
    width: 50%;
}
.accordion {
    padding-left: 30px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    height: 55px;
    width: 500px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-container {
    position: center;
    margin: auto;
    width: 100%;
}
.active, .accordion:hover {
    border-left: 4px solid orange;
}
.info {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 14px;
    border: none;
    background-color: #fff;
    outline: none;
    display: inline-block;
    margin-left: 30px;
}

.accordion:after {
    content: url("assets/arrow-up.png");
    color: black;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: 7px;
}

.active:after {
    content: url("assets/arrow-down.png");
}
.size-container {
    align-items: end;
}

.panel {
    padding: 0 20px;
    color: black;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 460px;
    margin-top: 10px;
}
.slider,
.slider-text-one,
.slider-text-two,
.accordion,
.info,
.panel,
.size-container,
.buttons,
.button,
.column-one,
.column-two {
   display: inline-block;
}
.slider-container {
    text-align: center;
    width: 100%;
    margin: 20px;
    font-size: 20px;
}
.text {
    color: gray;
    margin: 10px;
}
.size-input {
    border: none;
    margin: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.size-container {
    width: 100%;
}
.switch {
    width: 80px;
    height: 20px;
    position: relative;
}
.switch label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    border-radius: 40px;
    border: 1px solid orange;
}
.switch label i {
    display: block;
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: inherit;
    background: orange;
}
.on {
    left: 0%;
}
.off {
    left: 40%;
}
#slider-text-one{
    color: orange;
}
.menu {
    width: 550px;
    margin-bottom: 15px;
}
.info {
    float: right;
}
.button-container {
    position: relative;
}
.button {
    position: absolute;

    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
.buttons {
    position: relative;
    left: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    display: inline-block;
    border-radius: 10px;
}
.column-two, .column-one {
    margin-left: 10px;
    float: left;
}
.plus {
    font-size: 40px;
    left: 20%;
    top: 10%;
    margin-right: 20px;
}
.minus {
    font-size: 40px;
    left: 70%;
    top: 8%;
    margin-left: 20px;
}
.number {
    position: absolute;
    top: 10%;
    text-align: center;
    justify-content: center;
}
.count-one, .count-two {
    font-size: 33px;
    color: darkgrey;
    margin-top: 10px;
}



